<header>
  <h1>Current services</h1>
    <ul class="actions">
      <li>
        <% if current_user && current_user.timecoin >= 1 %>
        <%= link_to "New Service", new_service_path, class: "new" %>
        <% end %>
      </li>
    </ul>
</header>

<div id="services">
  <% @services.each do |service| %>
    <p><h2><%= link_to service.name, service %> created by <b><%= service.servicer_name %></b></h2></p>
    <p><b>created</b> <%= service.created_at %><br>
    <b>description</b> <%= service.description %></p>
    <hr>
  <% end %>
</div>

<header>
  <h1>Archived services</h1>
</header>

<div id="services">
  <% @archived_services.each do |service| %>
    <p><h2><%= link_to service.name, service %> created by <b><%= service.servicer_name %></b></h2></p>
    <p><b>created</b> <%= service.created_at %><br>
    <b>description</b> <%= service.description %></p>
    <hr>
  <% end %>
</div>
