<% title(@swap.name, "Swaps") %>

<title>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    Ticketee
  <% end %>
</title>

<header>
  <h1><%= @swap.name %></h1>

    <p><%= @swap.description %></p>
    <p><%= @swap.location %></p>
  <ul class="actions">
    <li><%= link_to "Edit Swap", edit_swap_path(@swap),
    class: "edit" %></li>
    <li><%= link_to "Delete Swap", swap_path(@swap),
     method: :delete,
     data: { confirm: "Are you sure you want to delete this swap?" },
     class: "delete" %></li>
  </ul>
</header>
