<div id="bart">
  <header>
    <h1><%= @swap.name %></h1>
  </header>
  <header>
    <h2><%= @bart.name %></h2>
    <%= link_to "Edit Bart offer", [:edit, @swap, @bart] %>
    <%= link_to "Delete Bart offer", [@swap, @bart], method: :delete, data: { confirm: "Are you sure you want to delete this offer?"} %>
</header>
  <%= simple_format(@bart.description) %>
</div>

