<%= simple_form_for @user do |f| %>

  <% if @user.errors.any? %>
   <div id="error_explanation">
     <p><%= pluralize(@user.errors.count, "error") %>
       prohibited this user from being saved:</p>
     <ul>
     <% @user.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :avatar, class:'btn-default' %>


  <% if @user.new_record? %>
    <%= f.button :submit, class:'btn-default' %>
  <% else %>
    <%= f.button :submit, class:'btn-default' %>
  <% end %>
<% end %>