<h1><%= @user.name %></h1>
  <b>Email</b><p><%= @user.email %></p>
  <b>Timecoins</b><p><%= @user.timecoin %></p>
  <b>Admin</b><p><%= @user.admin %></p>

 <%= link_to "Edit Profile", edit_user_path %>

<div class="row">
<div class="col-md-6">
<h1>Current swaps</h1>

 <% @swaps.each do |swap| %>

  <h3><%= swap.name %></h3>


  <% unless swap.barts.empty? %>

    <% swap.barts.each do |bart| %>

      <% if bart.chosen %>
      <h5>Chosen barts for this swap </h5>
      <p><%= bart.name %></p>
      <% end %>

    <% end %>

    <h5>Current barts for this swap </h5>
      <% swap.barts.each do |bart| %>
        <p><%= bart.name %></p>
      <% end %>

  <% else %>
    <p> No currents barts for this swap</p>
  <% end %>


<% end %>
</div>
<div class="col-md-6">
  <h1>Current barts</h1>
  <h3>

  <% @barts.each do |bart| %>

    <p><%= bart.name %></p>

  <% end %>
</div>
</div>