<h1><%= @user.name %></h1>
  <b>Email</b><p><%= @user.email %></p>
  <b>Timecoins</b><p><%= @user.timecoin %></p>
  <b>Admin</b><p><%= @user.admin %></p>

 <%= link_to "Edit Profile", edit_user_path %>