<h1><%= @user.name %></h1>
  <p><b>Email</b> <%= @user.email %></p>
  <p><b>Timecoins</b> <%= @user.timecoin %></p>
  <p><b>Admin</b> <%= @user.admin %></p>

 <%= link_to "Edit Profile", edit_user_path %>
<hr>
<div class="row">
<div class="col-md-6">

<h3>Current services</h3>



 <% @services.each do |service| %>
  <h3><%= service.name %></h3>

  <% unless service.helps.empty? %>

    <% service.helps.each do |help| %>
      <% if help.chosen %>
      <h5>Chosen helps for this service </h5>
      <p><%= help.name %></p>
      <% end %>
    <% end %>

    <h5>Current helps for this service </h5>
      <% service.helps.each do |help| %>
        <p><%= help.name %></p>
      <% end %>

  <% else %>
    <p> No currents helps for this service</p>
  <% end %>

<% end %>
</div>

<div class="col-md-6">

  <h3>Chosen helps</h3>
  <% @helps.each do |help| %>
    <p><%= help.name if help.chosen %></p>
  <% end %>

  <h3>Current helps</h3>

  <% @helps.each do |help| %>

    <p><%= help.name %></p>

  <% end %>
</div>
</div>