<div id="bart">
  <header>
    <h1><%= @swap.name %></h1>
  </header>
  <header>
    <h2><%= @bart.name %></h2>
    <span id='author'>Created by <%= @bart.user.email %></span>

    <% #if @bart.user.id == current_user.id %>
    <%= link_to "Edit", [:edit, @swap, @bart] %>
    <%= link_to "Delete", [@swap, @bart], method: :delete, data: { confirm: "Are you sure you want to delete this offer?"} %>
    <% #end %>

    <% if @swap.swapper_id == current_user.id && @swap.barter_id == nil %>
    <ul>
      <li class="actions">
    <%= simple_form_for(@swap) do %>
    <%= hidden_field(:swap, :barter_id, :value => @bart.user.id) %>
    <%= submit_tag("Swap with this barter", class: 'btn btn-warning') %>
    <% end %>
      </li>
    </ul>
    <% elsif @swap.swapper_id == current_user.id && @swap.barter_id != nil %>
      <p>This swapper has already been chosen for this job</p>
    <% else %>
      <p>Only the Swap creator can accept this bart</p>
    <% end %>


</header>
  <%= simple_format(@bart.description) %>
</div>