<% title(@swap.name, "Swaps") %>

<title>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    Barter
  <% end %>
</title>

<header>
  <h1><%= @swap.name %></h1>
  <p>Created by <b><%= @swap.swapper_name %></b></p>
  <p>Created at <b><%= @swap.created_at %></b></p>
  <p>Description <b><%= @swap.description %></b></p>
  <ul class="actions">
  <% if current_user.id == @swap.swapper_id %>
    <li><%= link_to "Edit Swap", edit_swap_path(@swap),
    class: "edit" %></li>
    <li><%= link_to "Delete Swap", swap_path(@swap),
     method: :delete,
     data: { confirm: "Are you sure you want to delete this swap?" },
     class: "delete" %></li>
  <% end %>
  </ul>
</header>

<header>
  <h2>Barts</h2>
  <ul class="actions">
    <% if current_user.id != @swap.swapper_id %>
    <li><%= link_to "New Bart", new_swap_bart_path(@swap), class: "new" %></li>
    <% end %>
  </ul>
</header>


<div id="barts">

  <% @swap.barts.reverse.each do |bart| %>


      <%= link_to bart.name, [@swap, bart] %>
      <p><%= bart.description %></p>


      <span id="author">Created by <b><%= bart.user.email %></b></span>

      <% if current_user.id == @swap.swapper_id && bart.chosen == false %>
        <%= simple_form_for(@swap) do %>
          <%= hidden_field(:swap, :barter_id, :value => bart.user.id) %>
          <%= hidden_field(:swap, :owner, :value => bart.user.id) %>
          <%= submit_tag("Swap with this barter", class: "select pull-right") %>
        <% end %>

      <% elsif current_user.id == @swap.swapper_id && bart.chosen == true %>
        <%= simple_form_for(@swap) do %>
          <%= hidden_field(:swap, :barter_id, :value => bart.user.id) %>
          <%= hidden_field(:swap, :owner, :value => bart.user.id) %>
          <%= submit_tag("Unpick", class: "select pull-right") %>
        <% end %>
      <% end %>

      <br><br>

  <% end %>
</div>